https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
Flask
numpy
pandas
nltk
spacy
glob2
multiprocess
regex
gensim
sklearn
matplotlib
seaborn
textblob
pyLDAvis
pathlib
gunicorn
afinn
Werkzeug
